{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "mocha": true
    },
    
    "rules": {
        "no-console": 0,
        "no-debugger": 0,
        "no-param-reassign": 0,
        "no-unused-vars": 1
    },
    "globals": {
        "chrome": false
    }
}